/* Navbar styling */

#topMenu , #followingMenu{
  padding: 2px 1%;
}


/* topSection styling */

#home{
  margin: 60px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#homeText{
  width:30%;
}

#homeImg{
  width:40%;
  margin-left:140px;
}


/* section 1 & 2 styling */

.Box{
  background-color: #ebf3ff;
  margin: 100px 0;
  padding: 45px 10%;
}

#section1,#section2{
  display: flex;
  justify-content: center;
  font-size:1.2rem;
}

#section2{
  padding: 30px 0;
}

.sections{
  width: 40%;
  padding-top: 40px;
}

#section1 img{
  position:relative;
  z-index: 60;
  width:30%;
  margin-right:10%;
}

#section2 img{
  position:relative;
  z-index: 60;
  width:490px;
  margin-left: 30px;
  margin-right:100px;
}


/* Media queries to handle index page */

@media(max-width:851px){
  #home,#section1,#section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  #homeText{
    width:100%;
    margin-left: 0px;
  }
  #homeImg{
    margin-left:0px;
    margin-top: 30px;
  }
  #home div img{
    width: 100%;
  }
  #homeImg{
    width:100%;
  }
  #section1 img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  }
  .sections{
    width: 100%;
  }
}
#home{
  padding:0 150px;
}
@media(max-width:1000px){
  #home{
    padding:0 40px ;
  }
}
@media(max-width:625px){
  #section1 img{
  width: 90%;
  }
}
@media(max-width:1030px){
  #section2 img{
    margin: 0;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  }
  #section2 .sections{
    padding:0px 40px;
  }
}